/*Mantener por defecto*/
#root {
  max-width: 1280px;
  margin: 0 auto;
}

section{
  color: black;
  background-color: #d6cce0;
}
/*Home*/
h1{
  font-family: cursive;
}
h4{
  font-family: cursive;
}
.prueba{
  background-color: goldenrod;
  border-radius: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}
/*Elementos*/

/**/
.pokegallery{
  
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;
  margin: 10px;
  padding-left: 110px;
}

.card{
margin: 10px;
border-radius: 5px;
box-shadow: 6px 10px 5px 0px rgba(199,197,199,0.75);
text-align: center;
}