@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/*Mantener por defecto*/
#root {
  max-width: 1280px;
  margin: 0 auto;
}

section{
  color: black;
  background-color: #d6cce0;
}
/*Home*/
h1{
  font-family: cursive;
}
h4{
  padding-top: 10px;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
}
.prueba{
  background-color: goldenrod;
  border-radius: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
}
/*Elementos*/
.element{
  padding-top: 200px;
}
/*Informacion*/
h3{
  font-family: cursive;
}
p{
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
}
ul{
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
}

/**/
.pokegallery{
  
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;
  margin: 10px;
  padding-left: 110px;
}

.card{
margin: 10px;
border-radius: 5px;
box-shadow: 6px 10px 5px 0px rgba(199,197,199,0.75);
text-align: center;
}