@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/*Mantener por defecto*/
#root {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Press Start 2P", system-ui;
  font-size: calc(1px + 2vmin);
}

section{
  color: black;
  background-color: #d6cce0;
}
/*Home*/
h3{
  color: blue;
}
h4{
  padding-top: 10px;
  font-weight: 400;
}
.prueba{
  background-color: white;
  border: solid;
  border-radius: 0.5rem;
  padding-top: 25px;
  padding-bottom: 25px;
}
/*Elementos*/
.element{
  padding-top: 10px;
}
/*Informacion*/
p{
  font-weight: 400;
}
ul{
  font-weight: 400;
}
/*ABOUT*/
.ABOUT1{
  background-color: white;
  border: solid;
  border-radius: 0.5rem;
  padding-top: 25px;
  padding-bottom: 25px;
}

/**/
.pokegallery{
  
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;
  margin: 10px;
  padding-left: 110px;
}

.card{
margin: 10px;
border-radius: 5px;
box-shadow: 6px 10px 5px 0px rgba(199,197,199,0.75);
text-align: center;
}

.button{
  background-color: white;
  border: solid;
  border-radius: 0.5rem;
  padding-top: 6px;
  padding-bottom: 6px;
}